.bundle
.rvmrc
config/*.sphinx.conf
config/credentials.yml.enc
db/sphinx/*
log
db/*.db
db/*.sqlite3
tmp/**/*
.DS_Store
doc/api
doc/app
config/database.yml
autotest_result.html
coverage
public/javascripts/*_[0-9]*.js
public/stylesheets/*_[0-9]*.css
public/attachments
public/assets/*
stuff/
attic/
tmp
var
tags
.powrc
.powenv
.byebug_history
c
m
v
config/deploy.rb.benyehuda.org
old_rails_upgrade.diff
old_locale.zip
stats.diff
tasks.code-workspace
run.sh

/config/master.key
node_modules
vendor/bundle
