%table
  %tr
    %td.vtop
      %b
        = _("Comments")
    %td.left3
      %ol
        #comments
          != render(:partial => "comments/comment", :collection => comments)
  %tr
    %td.vtop
      %b
        = _("Add Comment")
    %td.left3
      #new_comment
        != render(:partial => "comments/new")
