%table
  %tr
    %td.vtop
      %b
        = I18n.t('gettext.comments')
    %td.left3
      %ol
        #comments
          != render(:partial => "comments/comment", :collection => comments)
  %tr
    %td.vtop
      %b
        = I18n.t('gettext.add_comment')
    %td.left3
      #new_comment
        != render(:partial => "comments/new")
