- if task.can_be_finished?
  %li
    %a.ico{ :href => edit_task_path(task) }
      %span
        != textify_event("finish")
- task.simple_assignee_events.each do |e|
  %li
    != link_to textify_event(e), task_path(task, :event => e), :method => :put, :confirm => I18n.t('gettext.are_you_sure')
