#documents
  %table
    %tr
      %td.vtop
        %h4= _("Attached documents")
      %td
        %ol#ol_documents
          != render(:partial => "documents/document", :collection => documents, :as => :document)
