!= javascript_include_tag "jquery.uploadifive.min.js"
!= upload_javascripts
!= stylesheet_link_tag "uploadifive"

%b= _("Attach new document")
%br
%br

%input#upload_documents{:type => "file", :name => "upload_documents"}

#fileQueue
