
%b= _("Attach new document")
%br
%br

%input.multi#upload_documents{:type => "file", :name => "upload_documents", :multiple => true, 'data-url' => task_documents_path(@task)}

#fileQueue
#progress

:javascript

  $(document).ready(function() {
      var activeUploads = []; // Array to store active jqXHR objects
    $('#upload_documents').fileupload({
      dataType: 'json',
      sequentialUploads: true,
      add: function(e, data) {
        data.context = $('<p class="file"></p>')
          .append($('<a target="_blank"></a>').text(data.files[0].name))
          .appendTo($('#progress'));
        var jqXHR = data.submit();
        activeUploads.push(jqXHR);
      },
      progress: function(e, data) {
        var progress = parseInt((data.loaded / data.total) * 100, 10);
        data.context.css("background-position-x", 100 - progress + "%");
      },
      fail: function(e,data) {
              console.error('Upload failed:', data.xhr().responseText);
            // An upload failed, so abort all other active uploads
            $.each(activeUploads, function (index, xhr) {
                if (xhr && xhr.readyState !== 4) { // Check if the upload is still in progress
                    xhr.abort();
                }
            });
      },
      done: function (e, data) {
        data.context
          .addClass("done")
          .find("a")
          .prop("href", data.result.files[0].url).fadeOut(2000);

        $('#ol_documents').append(data.result.li_item);

        $.each(data.result.files, function (index, file) {
          $('#no_docs_uploaded').remove();
        });
      }
    });
  });

