- stalled = false unless defined? stalled

.heading
  - set_tab :dashboard

.bar
  / add-nav
  %ul.add-nav
    %li
      %a.link1{ :href => dashboard_path }
        %span
          %em
            != _("back to dashboard")

!= render(:partial => "tasks/index", :locals => {:tasks => @tasks, :editing => false, :stalled => stalled, :title => _("Unassigned Tasks")})
