= semantic_form_for(@task_kind, :url => admin_task_kinds_path, :remote => true, :method => :post) do |f|
  = f.input :name, :label => I18n.t('gettext.name'), :required => true
  = f.submit I18n.t('gettext.create')
