%h1= t('report.few_tasks_left')
%h2= t('total', count: @tasks.count)
!= render :partial => "tasks/index", :locals => { :tasks => @tasks, :editing => false, :title => t('report.few_tasks_left'), :stalled => false }

