!= render(:partial => "tasks/index", :locals => {:tasks => @editing_tasks.page(params[:editor_page]), param_name: :editor_page, :title => I18n.t('gettext.my_editing_tasks'), :editing => true, :total => current_user.editing_tasks.visible_in_my_tasks.length })

%h4= I18n.t('gettext.other')
!= link_to((_("Unassigned tasks (%{count})") % {:count => Task.unassigned.count}), tasks_path)
